---
layout: default
---

<div class="posts">
    <h1>{{ page.title }}</h1>
    
    {{ content }}
    
    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
            <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
            {% if post.excerpt %}
            <p>{{ post.excerpt | strip_html | truncate: 200 }}</p>
            {% endif %}
            {% if post.categories %}
            <p class="categories">
                Categories: 
                {% for category in post.categories %}
                    <span class="category">{{ category }}</span>{% unless forloop.last %}, {% endunless %}
                {% endfor %}
            </p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>